body {
    background: #eee url(http://static1.squarespace.com/static/54f0cacce4b094783bb94952/t/55678847e4b0f29daa633303/1432848455862/Logboat+Background.jpg) repeat;
}

.container {
    background: #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 12px;
}

.row {
    padding: 12px;
}

.navbar-nav {
    height: 50px;
}

a, .navbar-default .navbar-nav>li>a {
    color: #333;
    transition: color .1s .0s ease-in-out;
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    line-height: 1em;
}

.navbar-default .navbar-nav>li>a {
    font-size: 15px;
}

a:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #f08d20;
    text-decoration: none;
}

.cell-basic {
    padding: 20px;
    background-color: #eee;
    border: 1px #ccc solid;
    border-radius: 4px;
    margin-bottom: 12px;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.no-spacing {
    padding: 0;
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: auto;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center-horizontal {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.vertical-line {
    border-left: thick solid black;
}

.gray {
    color: #999999;
}

.dark-gray {
    color: #666666;
}

.sub-header {
    margin: 12px 0 0 0;
}