<?php

$cloudApp = "DB HOST HERE";

$link = mysqli_connect($cloudApp, "DB USERNAME HERE", "DB PASSWORD HERE", "YOUR DB NAME HERE") or fail("Connection error " . mysql_error($link));

header('Content-type: application/json');

session_start();
